---
import Image from 'astro/components/Image.astro';
import myImage from '../../assets/agata-dziedzinska.jpg';
import logoImage from '../../assets/logo.png';
---

<div class="flex bg-custom flex-row h-full w-full items-center justify-around gap-4">

    <div class="flex backdrop-blur-sm text-center container md:max-w-screen-md gap-4 md:justify-center md:items-center h-fit font-header flex-col">
        <Image src={logoImage}
               alt="Dziedzińska Art"
               class="border-4 border-logo-color rounded-2xl w-1/2 motion-scale-in-[0.5] motion-rotate-in-[10deg] motion-blur-in-[10px] motion-delay-[0.75s]/rotate motion-delay-[0.75s]/blur"/>
        <div class="divide-y divide-solid">
            <h1 class="text-4xl md:text-6xl motion-scale-in-[0.06] motion-translate-x-in-[-1%] motion-translate-y-in-[-1%]">
            <span
                    class="text-secondary">Agata </span>
                <span
                        class="text-gold">Dziedzińska</span>
                <br/>
                <span class="text-3xl">pasjonatka tworzenia</span>
            </h1>

            <div class="w-full">
                <p class="mt-2 font-text text-lg md:text-2xl text-center motion-scale-in-[0.06] motion-translate-x-in-[-1%] motion-translate-y-in-[-1%]">
                    Swój świat artystyczny skupiam na malarstwie oraz modzie upcyklingowej
                </p>
            </div>
        </div>
    </div>
    <Image src={myImage}
           alt="Dziedzińska Art"
           loading={true}
           class="h-1/2 w-auto border-4 border-logo-color rounded-2xl inline-flex w-full max-w-xl h-fit motion-scale-in-[0.5] motion-rotate-in-[-10deg] motion-blur-in-[10px] motion-delay-[0.75s]/rotate motion-delay-[0.75s]/blur"/>
</div>

<style>
    .bg-custom {
        background-color: black;
    }

    .border-logo-color {
        border-color: hsl(46, 60%, 38%);
    }

    .text-gold {
        color: hsl(46, 60%, 38%);
    }
</style>