---
import Layout from '../layouts/Layout.astro';
import Section1 from "../components/main/section1.astro";
import Section2 from "../components/main/section2.astro";
import Section3 from "../components/main/section3.astro";
---

<Layout>
	<div class="h-screen snap-y snap-mandatory overflow-y-scroll">
		<section class="snap-start h-screen bg-primary text-white flex items-center justify-center">
			<Section1 />
		</section>
		<section class="snap-start h-screen flex-col flex items-center justify-center md:bg-[url('https://dziedzinskaart.com/wp-content/uploads/2025/01/IMG_20240419_173053_edit_179604142074675-scaled-e1735994122294.jpg')] md:bg-left bg-[url('/src/assets/section2bg.jpg')] bg-cover bg-no-repeat bg-center">
			<Section2 />
		</section>
		<section class="snap-start h-screen bg-dark text-white flex items-center justify-center">
			<Section3 />
		</section>
	</div>
</Layout>
