---
import MainNav from '../components/navigation/MainNav.astro';
import SocialNav from '../components/navigation/SocialNav.astro';
import {ClientRouter} from 'astro:transitions';
import SpeedInsights from "@vercel/speed-insights/astro";
import '../styles/global.css';
const title = "Dziedzinska Art";
const description = "Oficjalna strona artystki Dziedzińskiej prezentująca portfolio prac artystycznych i modowych.";
---

<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.png"/>
    <meta name="description" content={description}/>
    <title>{title}</title>
    <ClientRouter fallback="animate"/>
</head>
<body class="flex flex-col md:flex-row overflow-hidden">
<!-- Aside -->
<aside
        class="
        bg-primary
        text-white
        flex
        flex-col
        justify-between
        fixed
        bottom-0
        left-0
        w-full
        h-16
        md:static
        md:h-screen
        md:w-[5rem]
        hover:md:w-[16rem]
        transition-all
        duration-500
        ease-in-out
        group
        z-50
        md:z-0
        items-center
        md:py-8
    "
>

    <MainNav/>

    <div class="hidden md:block">
        <SocialNav/>
    </div>
</aside>

<!-- Main -->
<main class="flex-1 overflow-y-auto mb-16 md:mb-0">
    <slot/>
</main>
<SpeedInsights/>
</body>
</html>